<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>
<style>
     body{
        padding: 20%;
        padding-top: 5%;
        margin: 0px;
        background-color: rgb(235, 232, 85);
        border: 40px solid rgba(236, 32, 32, 0.534);
        border-top: 0px
    }
    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        animation: ease-in;
    }
    p{
        font-size: larger;
    }
    
</style>
<body>
    <div class="container">
        <h1 class="display-2"><b>About The App</b></h1>
    </div>
    <br>
    <div class="container">
        <p >This is a Random Password Generator created by <strong>Srinjana Pathak</strong>. Like you'll google me now Lol.
            So are you tired of boring Predictable Passwords?</p>
        <p>
            Want passwords that spice up your life, Rack your brains and make absolutely no sense at to your
            partners, snooping up on your accounts when you are peacefully asleep?
            This is the App for you.
        </p>
        <p>
             Not to mention, there are probably 100000 other apps that do the exact same thing... but
            well, I tried.
        </p>
        <p>
            So yeah. Make unnecessarily hard to remember passwords and kill time.
        </p>
        <p></p>
        <p>
            And what about your old Boring Passwords? I have just the right people to handle that...
        </p>
    </div>
    <br>
    <div class="container">
       
        <a href="https://imgflip.com/i/3y2lwd"><img src="https://i.imgflip.com/3y2lwd.jpg" title="no mo boring pws" align="center" /></a>
    </div>
    
</body>
</html>